<% provide(:title, "Detalles") %>
<div class="row">
  <aside class="span4">
    <section>  
      <ul>
     	<li>Lista #<%= @list.id %></li>
     	<li>Nombre: <%= @list.name %></li>
      <li>Descripción: <%= @list.description %></li>
     	<li>Fecha: <%= @list.created_at %></li>
      <li>Reportes: </li>
      <% if !@list.problems.empty? %>
        <ul class="users">
         <% @list.problems.each do |problem| %>
            <%= render problem %>
                | <%= link_to "remove", remove_problem_list_path(list: @list, problem_id: problem.id), method: :delete %>
          <% end %>
        </ul>
      <% end %>



      <li>Reportes a añadir: <%=  %></li>

      <ul class="users">
        <% @problems.each do |problem| %>
          <%= render problem %>
                | <%= link_to "add", add_problem_list_path(list: @list, problem_id: problem.id), method: :put %>
        <% end %>
      </ul>

      </ul>     
    </section>
  </aside>
</div>
