<% provide(:title, "List details") %>
<div class="row">
  <aside class="span4">
    <section>  
      <ul>
     	<li>List #<%= @list.id %></li>
     	<li>Name: <%= @list.name %></li>
      <li>Description: <%= @list.description %></li>
     	<li>Date created: <%= @list.created_at %></li>
      <li>Reports: </li>
      <% if !@list.problems.empty? %>
        <ul class="users">
         <% @list.problems.each do |problem| %>
            <%= render problem %>
                | <%= link_to "Remove", remove_problem_list_path(list: @list, problem_id: problem.id), method: :delete, :confirm => 'Are you sure you wish to remove this report from the list?' %>
          <% end %>
        </ul>
      <% end %>



      <li>Reports to add: <%=  %></li>

      <ul class="users">
        <% @problems.each do |problem| %>
          <%= render problem %>
                <%= link_to "Add to list", add_problem_list_path(list: @list, problem_id: problem.id), method: :put %>
        <% end %>
      </ul>

      </ul>     
    </section>
  </aside>
</div>
