<!DOCTYPE html>
<% provide(:title, 'Dashboard') %>

<html lang="en">
<body>	
	<!--div id="content" class="span10"-->
	<!-- start: Content -->
	<%= render 'layouts/sidebar' %>

	<hr>

	<div class="row-fluid fluid-box">

		<div class="box span8">
			<div class="box-header">
				<h2><i class="icon-list-alt"></i><span class="break"></span>Reports by current status</h2>

			</div>
			<div class="box-content">
				<div id="stackchart" class="center" style="height:300px;"></div>
			</div>
		</div>

		<div class="box span3">
			<div class="box-header" data-original-title>
				<h2><i class="icon-list-alt"></i><span class="break"></span>Reports by type</h2>
			</div>
			<div class="box-content">
				<div id="piechart" style="height: 300px;">
				</div>
			</div>
		</div>  
	</div>

	<hr>

	<div class="row-fluid fluid-box">


		<div class="box span4 noMargin" onTablet="span12" onDesktop="span4">
			<div class="box-header">
				<h2><i class="icon-list"></i><span class="break"></span>Oldest Reports</h2>
			</div>
			<!-- Graph to show the 5 (or any number desired) oldest unresolved reports -->
			<div class="box-content">
				<ul class="tickets">
					<li class="ticket">
						<% @unresolved = Problem.find_by_sql("SELECT * FROM problems WHERE status = '1' OR status = '2' ORDER BY created_at ASC LIMIT 5") %>

						<% @unresolved.each do |problem| %>

						<span class="header"> 
							<span class="title"><%= link_to problem.title, problem %></span>
							<span class="number"><%= link_to problem.get_prob_type, problem%> <%= link_to "[#"+problem.id.to_s+"]", problem%></span>
						</span>
						<span class="content">
							<span class="avatar">  <img src=<%=problem.avatar.url(:thumb) %>> </span>
							<span class="name"><strong>Submitted by: </strong><%= problem.get_owner_name %></span>
							<!-- Implement priority partial for viewing -->
							<span class="date"><u><%= problem.created_at.strftime(" %b.%d %Y") %></u></span>

							<% if problem.status == 1 %>
							<span class="status"><span class="label label-important"><%= problem.get_prob_status %></span>
						</span>   
						<% elsif problem.status == 2 %>
						<span class="status"><span class="label label-warning"><%= problem.get_prob_status %></span>
						<%= " "+  problem.get_containing_list.get_owner_name %></span>
						<% end %>
						<span class="priority "><strong>Priority: </strong>[ <%=problem.get_prob_priority %> ]</span>	
					</span>                                                         
					<% end %>
				</li>
			</ul>
		</div>
	</div><!--/span-->


		<div class="box span4" onTablet="span6" onDesktop="span4">
			<div class="box-header">
				<h2><i class="icon-list"></i><span class="break"></span>Weekly Statistics</h2>
				<div class="box-icon">
					<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<ul class="dashboard-list">
					<li>
						<a href="#">
							<i class="fa-icon-arrow-up green"></i>         <span class="green">92</span>
							New Reports                                  
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa-icon-arrow-down red"></i>
							<span class="red">15</span>
							Resolved Reports
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa-icon-minus blue"></i>
							<span class="blue">36</span>
							Assigned Reports                                    
						</a>
					</li>
				</ul>
			</div>
		</div><!--/span-->






		<div class="box span3 ">
			<div class="box-header">
				<h2><i class="icon-list"></i><span class="break"></span>Weekly Statistics</h2>

			</div>
			<div class="box-content">
				<div class="sparkLineStats">
					<ul class="unstyled">
						<li>
							<span class="sparkLineStats1 "></span> 
							Visits: 
							<span class="number">356</span>
						</li>
						<li>
							<span class="sparkLineStats2"></span>
							Unique Visitors: 
							<span class="number">252</span>
						</li>
						<li><span class="sparkLineStats3"></span> 
							Pageviews: 
							<span class="number">781</span>
						</li>
						<li><span class="sparkLineStats4"></span>
							Pages / Visit: 
							<span class="number">2,19</span>
						</li>
						<li><span class="sparkLineStats5"></span>
							Avg. Visit Duration: 
							<span class="number">00:02:58</span>
						</li>
						<li><span class="sparkLineStats6"></span>
							Bounce Rate: <span class="number">59,83%</span>
						</li>
						<li><span class="sparkLineStats7"></span>
							% New Visits: 
							<span class="number">70,79%</span>
						</li>
						<li><span class="sparkLineStats8"></span>
							% Returning Visitor: 
							<span class="number">29,21%</span>
						</li>

					</ul>

				</div><!-- End .sparkStats -->
			</div>
		</div><!--/span-->

</div>

</div>

<hr>
<!-- end: Content -->
<!--/div-->
<!--/#content.span10-->
</div><!--/fluid-row-->
</body>
</html>
