<% provide(:title, 'Dashboard') %>


<html lang="en">
<body>	
	<!--div id="content" class="span10"-->
	<!-- start: Content -->
	<%= render 'layouts/sidebar' %>

	<hr>

	<div class="row-fluid fluid-box">

		<div class="box span8">
			<div class="box-header">
				<h2><i class="icon-list-alt"></i><span class="break"></span>Reports by current status</h2>

			</div>
			<div class="box-content">
				<div id="stackchart" class="center" style="height:300px;"></div>
			</div>
		</div>

		<div class="box span3">
			<div class="box-header" data-original-title>
				<h2><i class="icon-list-alt"></i><span class="break"></span>Reports by type</h2>
			</div>
			<div class="box-content">
				<div id="piechart" style="height: 300px;">
				</div>
			</div>
		</div>  
	</div>

	<hr>

	<div class="row-fluid fluid-box">


		<div class="box span4 noMargin" onTablet="span12" onDesktop="span4">
			<div class="box-header">
				<h2><i class="icon-list"></i><span class="break"></span>Oldest Reports</h2>
			</div>
			<!-- Graph to show the 5 (or any number desired) oldest unresolved reports -->
			<div class="box-content">
				<ul class="tickets">
					<li class="ticket">
						<% @unresolved = Problem.find_by_sql("SELECT * FROM problems WHERE status = '1' OR status = '2' ORDER BY created_at ASC LIMIT 5") %>

						<% @unresolved.each do |problem| %>

						<span class="header"> 
							<span class="title"><%= link_to problem.title, problem %></span>
							<span class="number"><%= link_to problem.get_prob_type, problem%> <%= link_to "[#"+problem.id.to_s+"]", problem%></span>
						</span>
						<span class="content">
							<span class="avatar"><%=link_to image_tag(problem.avatar.url(:thumb)), @problem %> </span>
							<span class="name"><strong>Submitted by: </strong><%= problem.get_owner_name %></span>
							<!-- Implement priority partial for viewing -->
							<span class="date"><u><%= problem.created_at.strftime(" %b.%d %Y") %></u></span>

							<% if problem.status == 1 %>
								<span class="status"><span class="label label-important"><%= problem.get_prob_status %></span>
								</span>   
							<% elsif problem.status == 2 %>
								<span class="status"><span class="label label-warning"><%= problem.get_prob_status %></span>
								<%= " "+  problem.get_containing_list.get_owner_name %></span>
							<% end %>
							<span class="priority "><strong>Priority: </strong>[ <%=problem.get_prob_priority %> ]</span>	
							</span>                                                         
						<% end %>
				</li>
			</ul>
		</div>
	</div><!--/span-->


	<div class="box span3" >
		<div class="box-header">
			<h2><i class="icon-list"></i><span class="break"></span>Reports Summary</h2>
		</div>
		<div class="box-content">
			<ul class="dashboard-list">
				<li>
					<a href="#">
						<i class="fa-icon-check green"></i>    
						<% @problem_count = Problem.all.count  %>                          
						<span class="green"><%= Problem.where(status: 3).count %>/<%= @problem_count %> </span>
						Reports Resolved                                   
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-icon-warning-sign yellow"></i>
						<span class="yellow"><%= Problem.where(status: 2).count%>/<%= @problem_count %> </span>
						Reports Assigned
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-icon-eye-open red"></i>
						<span class="red"><%= Problem.where(status: 1).count%>/<%= @problem_count %></span>
						Reports Pending                                    
					</a>
				</li>                                  
			</ul>
		</div>
	</div><!--/span-->

			<div class="box span4 noMargin" onTablet="span12" onDesktop="span4">
			<div class="box-header">
				<h2><i class="icon-list"></i><span class="break"></span>Distinguished Users</h2>
			</div>
			<!-- Graph to show the 5 (or any number desired) oldest unresolved reports -->
			<div class="box-content">

				<ul class="tickets">
					<li class="ticket">
<!-- Show distinguished users to incentivate healthy competition -->
						<% @distinguished = User.first %>
						<span class="header"> 
							<span class="title"><strong>Most Resolved Reports (This week): </strong></span>
							<span class="number green">Reports resolved: <strong><u> <%=@distinguished.problems.count.to_s%>  </u></strong></span>
						</span>
						<span class="content">
							<span class="avatar">							<%= link_to image_tag(@distinguished.avatar.url(:thumb)), @distinguished %></span>


							<span class="name"><u><%= link_to @distinguished.name+" "+@distinguished.last_name, @distinguished %></u></span>
							<!-- Implement priority partial for viewing -->
							<span class="date">Since: <u><%= @distinguished.created_at.strftime(" %b.%d %Y") %></u></span>
							<span class="status">Role: <strong><%= @distinguished.get_role %> </strong> </span>  
							<span class="priority ">Municipality: <%=@distinguished.municipality %></span> 
						</span>                                                         
				</li>

			</ul>

				<ul class="tickets">
					<li class="ticket">
<!-- Show distinguished users to incentivate healthy competition -->
						<% @distinguished = User.last %>
						<span class="header"> 
							<span class="title"><strong>Most Submitted Reports (This week): </strong></span>
							<span class="number green">Submitted this week: <strong><u> <%=@distinguished.problems.count.to_s%>  </u></strong></span>
						</span>
						<span class="content">
							<span class="avatar">							<%= link_to image_tag(@distinguished.avatar.url(:thumb)), @distinguished %></span>


							<span class="name"><u><%= link_to @distinguished.name+" "+@distinguished.last_name, @distinguished %></u></span>
							<!-- Implement priority partial for viewing -->
							<span class="date">Since: <u><%= @distinguished.created_at.strftime(" %b.%d %Y") %></u></span>
							<span class="status">Role: <strong><%= @distinguished.get_role %> </strong> </span>  
							<span class="priority ">Municipality: <%=@distinguished.municipality %></span> 
						</span>                                                         
				</li>

			</ul>


				<ul class="tickets">
					<li class="ticket">
<!-- Show distinguished users to incentivate healthy competition -->
						<% @distinguished = User.first %>
						<span class="header"> 
							<span class="title"><strong>Most Resolved Reports: </strong></span>
							<span class="number green">Reports resolved: <strong><u> <%=@distinguished.resolved_reports.to_i.to_s%>  </u></strong></span>
						</span>
						<span class="content">
							<span class="avatar">							<%= link_to image_tag(@distinguished.avatar.url(:thumb)), @distinguished %></span>


							<span class="name"><u><%= link_to @distinguished.name+" "+@distinguished.last_name, @distinguished %></u></span>
							<!-- Implement priority partial for viewing -->
							<span class="date">Since: <u><%= @distinguished.created_at.strftime(" %b.%d %Y") %></u></span>
							<span class="status">Role: <strong><%= @distinguished.get_role %> </strong> </span>  
							<span class="priority ">Municipality: <%=@distinguished.municipality %></span> 
						</span>                                                         
				</li>

			</ul>

				<ul class="tickets">
					<li class="ticket">
<!-- Show distinguished users to incentivate healthy competition -->
						<% @distinguished = User.last %>
						<span class="header"> 
							<span class="title"><strong>Most Currently Assigned Reports: </strong></span>
							<span class="number green">Reports assigned: <strong><u> <%=@distinguished.assigned_reports.to_i%>  </u></strong></span>
						</span>
						<span class="content">
							<span class="avatar">							<%= link_to image_tag(@distinguished.avatar.url(:thumb)), @distinguished %></span>
							<span class="name"><u><%= link_to @distinguished.name+" "+@distinguished.last_name, @distinguished %></u></span>
							<!-- Implement priority partial for viewing -->
							<span class="date">Since: <u><%= @distinguished.created_at.strftime(" %b.%d %Y") %></u></span>
							<span class="status">Role: <strong><%= @distinguished.get_role %> </strong> </span>  
							<span class="priority ">Municipality: <%=@distinguished.municipality %></span> 
						</span>                                                         
				</li>

			</ul>

				<ul class="tickets">
					<li class="ticket">
<!-- Show distinguished users to incentivate healthy competition -->
						<% @distinguished = User.last %>
						<span class="header"> 
							<span class="title"><strong>Most Submitted Reports: </strong></span>
							<span class="number green">Reports submitted: <strong><u> <%=@distinguished.problems.count.to_s%>  </u></strong></span>
						</span>
						<span class="content">
							<span class="avatar">							<%= link_to image_tag(@distinguished.avatar.url(:thumb)), @distinguished %></span>


							<span class="name"><u><%= link_to @distinguished.name+" "+@distinguished.last_name, @distinguished %></u></span>
							<!-- Implement priority partial for viewing -->
							<span class="date">Since: <u><%= @distinguished.created_at.strftime(" %b.%d %Y") %></u></span>
							<span class="status">Role: <strong><%= @distinguished.get_role %> </strong> </span>  
							<span class="priority ">Municipality: <%=@distinguished.municipality %></span> 
						</span>                                                         
				</li>

			</ul>
		</div>
	</div><!--/span-->

</div>

</div>

<hr>
<!-- end: Content -->
<!--/div-->
<!--/#content.span10-->
</div><!--/fluid-row-->
</body>
</html>
