<head>
	<style type="text/css">
	body { 
		background: url(images/km7theroad.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">

			<div class="row-fluid">
				<!--User hero-unit thave large header -->
				<div class="span12 hero-unit hero-unit-login">
					<h1>Welcome to Km7</h1>
					<h2>
						This is the new version of the web application
						<a href="http://www.km-7.com/">Kilómetro Siete</a>
					</h2>
				</div>

				<div class="row-fluid">
					<div class="login-box center">

						<%= form_tag sessions_path do %>
							<div class="input-prepend" title="Username">
								<span class="add-on"><i class="icon-user"></i></span>
	   							 <%= text_field_tag :email, params[:email] %>						
	   						</div>

							<div class="clearfix"></div>

							<div class="input-prepend" title="Password">
								<span class="add-on"><i class="icon-lock"></i></span>
								<%= password_field_tag :password %>
							</div>

							<div class="clearfix"></div>
							<h1 class="h1-login remember" for="remember"><!--%= check_box_tag :remember_me, 1, params[:remember_me] %-->
								Remember me</h1>

							<h1 class="box"><!--%=link_to "Forgot Password?", "#", :class => 'h1-login btn-setting'%--></h1>
							<div class="clearfix"></div>
							<hr class="hr-login">
							<div class="buttons">	
								<%= submit_tag "          Login          ", class: 'btn-large btn-info'%>
							</div>
						<% end %>


					</div><!--/span-->
				</div>
			</div><!--/row-->

		</div><!--/fluid-row-->	
	</div><!--/.fluid-container-->
</body>

<%= form_tag password_resets_path, :method => :post do %>
<div class="modal hide fade" id="myModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"></button>
		<h3>Reset Password</h3>
		<p>Please enter your email and we will send you instructions to reset your password.</p>
	</div>

	<div class="modal-body">
	    <div class="control-group">
	      <label class="control-label" for="focusedInput">Email</label>
	      <div class="controls">
	        <div class="input-xlarge focused" id="focusedInput" type="text">
	          <%= text_field_tag :email, params[:email] %>     
	        </div>
	      </div>
	    </div>		
	</div>
	<div class="modal-footer"> 
    	<a class="form-action btn" data-dismiss="modal">Close</a>
		<a class="form-action"><%= submit_tag "Reset Password", class: "btn btn-success" %>
		</a>
	</div>
</div>
<% end %>

