<% provide(:title, "Registrar") %>
<h1>Registrar</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, "Correo" %>
      <%= f.text_field :email %>

      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password %>

      <%= f.submit "Registrar", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>