    <h1 class='h1-infowindow'>#<%= object.id %> - <%= object.title %></h1>
   	<ul>
   		<li><strong>Status:</strong> <%= object.get_prob_status %> </li>
   		<li><strong>Priority:</strong> <%= object.get_prob_priority %></li>
   		<li><strong>Description:</strong> <%= object.description %></li>
   		<li><strong><%= link_to "...more", object, :target => "_blank"%></strong> </li>
	</ul>