<% provide(:title, 'Reports') %>
<h1>All Reports</h1> 

<body>
	<div class="row-fluid">
		<div class="box span8" onTablet="span12" onDesktop="span8">
			<div class="box-content">
				<%= gmaps4rails(@json) %>  
			</div>
		</div>

		<hr>

		<div class="box span4 noMargin" onTablet="span12" onDesktop="span4">
			<div class="box-header">
				<h2><i class="icon-list"></i><span class="break"></span>Report tickets</h2>
				<div class="box-icon">
					<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<ul class="tickets">
					<li class="ticket">
						<% @problems.each do |problem| %>
							<span class="header">	
								<span class="title"><%= link_to problem.get_prob_type, problem%></span>
								<span class="number"><%= link_to "[#"+problem.id.to_s+"]", problem%></span>
							</span>
							<span class="content">
								<span class="avatar">  <img src="<%=problem.avatar.url(:thumb) %>"></span>
								<span class="name">By:<%= User.find(problem.user_id).name %></span>
								<!-- Implement priority partial for viewing -->
								<span class="priority blue">[ <%=problem.get_prob_priority %> ]</span>
								<span class="status">Status: <span class="green">[ <%= problem.get_prob_status %> ]</span></span>
								<span class="date"><%= problem.created_at.strftime(" %b.%d %Y") %></span>
							</span>	                                                        
						<% end %>
					</li>
				</ul>
			</div>
		</div><!--/span-->
	</div>
</div>

