<% provide(:title, 'Reports') %>
<body>
	<div class="row-fluid">
		<div class="box span8" onTablet="span12" onDesktop="span8">
			<div class="box-header">
				<h2><i class="icon-file"></i><span class="break"></span>Reports Map</h2>

			</div>
			<div class="box-content">
				<%= gmaps4rails(@json) %>  
			</div>
		</div>

		<hr>

		<div class="box span4 noMargin" onTablet="span12" onDesktop="span4">
			<div class="box-header">
				<h2><i class="icon-list"></i><span class="break"></span>Report tickets</h2>
				<div class="box-icon">
					<%= link_to new_problem_path, class: 'btn' do %>
					<i class="icon-plus"></i>
				<% end %>
			</div>
			</div>
			<div class="box-content">
				<ul class="tickets">
					<li class="ticket">
						<% @problems.each do |problem| %>
						<% @user = User.find(problem.user_id) %>
							<span class="header">	
								<span class="title"><%= link_to problem.title, problem %></span>
								<span class="number"><%= link_to problem.get_prob_type, problem%> <%= link_to "[#"+problem.id.to_s+"]", problem%></span>
							</span>
							<span class="content">
								<span class="avatar">  <img src="<%=problem.avatar.url(:thumb) %>"></span>
								<span class="name">By:<%= @user.name %> 
									<%= @user.last_name %></span>
								<!-- Implement priority partial for viewing -->
								<span> <%= link_to "Delete", problem,  method: :delete, data: { confirm: "Delete this report?" }, class: 'priority blue' %></span>
								<!--<span class="priority blue">[ <%=problem.get_prob_priority %> ]</span>-->
								<span class="status">Status: <span class="green">[ <%= problem.get_prob_status %> ]</span></span>
								<span class="date"><%= problem.created_at.strftime(" %b.%d %Y") %></span>
							</span>	                                                        
						<% end %>
					</li>
				</ul>
			</div>
		</div><!--/span-->
	</div>
</body>




