<% provide(:title, 'Reporte Nuevo') %>
<h1>New Report</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @problem, :html => {:multipart => true }  do |f| %>

      <!--%= f.label :user, "Usuario asignador" %-->
      <!--%= f.text_field :user %-->

      <%= f.label :latitude, "Latitud" %>
      <%= f.text_field :latitude %>

      <%= f.label :longitude, "Longitud" %>
      <%= f.text_field :longitude %>

      <%= f.label :municipality, "Municipality" %>
      <%= f.text_field :municipality %>

      <%= f.label :ptype, "Problem Type" %>
      <%= f.select :ptype, [["Pothole", 1], ["Water pipe", 2], ["Electric cable", 3], 
               ["Light post", 4], ["Debris on road", 5], ["Vandalism", 6], ["Manhole cover", 7], 
               ["Other", 8]] %>

      <%= f.label :description, "Description" %>
      <%= f.text_area :description %>

      <%= f.file_field :avatar %>

      <%= f.submit "Guardar lista", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>