<% provide(:title, 'New Report') %>
<div class="row-fluid fluid-box">
  <div class="box span12">
    <div class="box-header" data-original-title>
      <h2><i class="icon-edit"></i><span class="break"></span>New Report</h2>
    </div>
    <div class="box-content">
          <%= form_for @problem, :html => {:multipart => true, :class => "form-horizontal" }  do |f| %>
          <fieldset>
          <div class="control-group">
            <label class="control-label" for="focusedInput">Title</label>
            <div class="controls">
              <div class="input-xlarge focused" id="focusedInput" type="text">
                <%= f.text_field :title, :placeholder => "Please provide a title..." %>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="focusedInput">Latitude</label>
            <div class="controls">
              <div class="input-xlarge focused" id="focusedInput" type="text">
                <%= f.text_field :latitude %>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="focusedInput">Longitude</label>
            <div class="controls">
              <div class="input-xlarge focused" id="focusedInput" type="text">
                <%= f.text_field :longitude %>
              </div>
            </div>
          </div>

         <div class="control-group">
           <label class="control-label" for="focusedInput">Type</label>
           <div class="controls">
             <div class="input-xlarge focused" id="focusedInput" type="text">
             <%= f.select :ptype, [["Pothole", 1], ["Water pipe", 2], ["Electric cable", 3], 
               ["Light post", 4], ["Debris on road", 5], ["Vandalism", 6], ["Manhole cover", 7], 
               ["Other", 8]] %>
             </div>
           </div>
         </div>

        <div class="control-group">
            <label class="control-label" for="focusedInput">Status</label>
              <div class="controls">
                <div class="input-xlarge focused" id="focusedInput" type="text">
                  <%= f.select :status, [["Unassigned", 1], ["Assigned", 2], ["Resolved", 3]] %>
                </div>
              </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="focusedInput">Priority</label>
              <div class="controls">
                <div class="input-xlarge focused" id="focusedInput" type="text">
                  <%= f.select :priority, [["Low", 1], ["Medium", 2], ["High", 3]] %>
                </div>
              </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="focusedInput">Image</label>
            <div class="controls">
              <div class="input-xlarge focused" id="focusedInput" type="text">
                <%= f.file_field :avatar %>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="textarea2">Description</label>
            <div class="controls">
              <div class="input-xlarge focused" id="focusedInput" type="text">
                <%= f.text_area :description, :placeholder => "Provide a short description of the situation and/or location...", size: "10x6" %>
              </div>
            </div>
          </div>


          <div class="form-actions">
            <%= f.submit "Create", class: "btn btn-success" %>
            <%= link_to reports_path, data: { confirm: "Abandon report submission?" }, class: 'btn' do %>
              <i></i> Cancel
            <% end %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div><!--/span-->
</div><!--/row-->