<% provide(:title, "Detalles") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @problem.ptype %>, <%= @problem.id %>, <%= @problem.user %>, <%= @problem.lat %>, <%= @problem.lng %>,
      </h1>
    </section>
  </aside>
</div>