<% provide(:title, "Details") %>
<html lang="en">

<%= render 'layouts/sidebar' %>

<!--Bounding box heading with report id and title as well as tabbed view of photo and map -->
<body>
<div class="row-fluid fluid-box">
  <div class="box span6">
    <h1 class="h1-report">#<%=@problem.id%> - <%= @problem.title %></h1>
  </div>
  <div class="box span6">
    <div class="row-fluid fluid-box">
      <div class="box span3">
        <% if @problem.status==3 %>
        <%= link_to "#", class: 'btn btn-success' do %>
        <i class="icon-ok icon-white"></i> Resolved
        <% end %>
        <% elsif @problem.status==2 %>
        <%= link_to "#", class: 'btn btn-info' do %>
        <i class="icon-lock icon-white"></i> Assigned 
        <% end %>
        <% else %>
        <%= link_to "#", class: 'btn btn-warning' do %>
        <i class="fa-icon-warning-sign icon-white"></i> Pending
        <% end %>
        <% end %>
      </div>
      <div class="box span3">
        <% if @problem.priority==3 %>
        <%= link_to "#", class: 'btn btn-danger' do %>
        <i class="icon-warning-sign icon-white"></i> High 
        <% end %>
        <% elsif @problem.priority==2 %>
        <%= link_to "#", class: 'btn btn-warning' do %>
        <i class="icon-exclamation-sign icon-white"></i> Normal  
        <% end %>
        <% else %>
        <%= link_to "#", class: 'btn btn-success' do %>
        <i class="icon-asterisk icon-white"></i> Low
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid fluid-box">
  <div class="span12">
    <!-- Photo box     -->
    <div class="box span6">
      <div class="box-header">
        <h2><i class="fa-icon-eye-open"></i><span class="break"></span>Report Type: <%= @problem.get_prob_type %></h2>
        <div class="box-icon">
        </div>
      </div>
      <div class="box-content">
        <%= image_tag @problem.avatar.url(:medium) %>
      </div>
    </div>

    <!-- Map box      -->
    <div class="box span6">
      <div class="box-header">
        <h2><i class="fa-icon-globe"></i><span class="break"></span>Map</h2>
        <div class="box-icon">
        </div>
      </div>

      <div class="box-content">
        <div class="row-fluid">
          <div class="span12">
            <%= gmaps({"map_options" => {"auto_zoom" => false, "zoom" => 15 },"markers" => {"data" => @json }})%>
          </div>
        </div>


          <div class=" box span12 center">
              <h1 class="btn-group">
<!-- Anybody can see the edit button, to correct details, last person who updates it is recorded -->
                <%= link_to "#", class: "btn a-button btn-setting" do %><i class="icon-edit"></i> Edit Details
                <% end %>

<!-- If the report is not in a list show button to add to a list else show button to resolve and button to see list. -->
                <% if !@problem.is_in_list? %>
<!-- Show unresolve button if the report has been resolved but the containing list has been deleted -->
                  <% if @problem.status==3 && current_user.admin?%>
                      <%= link_to problem_path(:problem => {:status => 1}), :method => :put, :confirm => "Are you sure?", class: "btn a-button" do %> Unresolve 
                      <% end %>
                  <% else %>
                      <%= link_to "#", class: "btn btn-setting-list" do %>Add report to list
                      <% end %>
                  <% end %>
<!-- We enter here if the report is currently contained in a list--> 
                <% else %>
<!-- Prepare the data to indicate that it is contained in a list -->
                  <% @cont_list = @problem.get_containing_list %>
                  <% @list_owner = @cont_list.get_owner %>
<!-- If the problem has not been resolved and the current user is the owner of the report or admin allow Resolve button functionality -->
                  <%if @problem.status != 3 && (current_user == @list_owner || current_user.admin?)%>
                    <%= link_to problem_path(:problem => {:status => 3, :resolved_at => Time.now, :resolved_id => current_user.id}), :method => :put, :confirm => "Are you sure this report has been resolved?\nOnly an administrator can undo this action.", class: "btn a-button btn-success" do %><i class="icon-check"></i> Resolve
                    <% end %>
                  <% else %>
<!-- If the report has been marked as resolved and the current user is the owner or admin enable Unresolve button functionality -->
                    <% if current_user.admin?%>
                      <%= link_to problem_path(:problem => {:status => 2}), :method => :put, :confirm => "Are you sure?", class: "btn a-button btn-warning" do %><i class="icon-ban-circle"></i> Unresolve
                      <% end %>
                    <% end %>
                  <% end %>
                  <%= link_to @problem.get_containing_list, class: "btn a-button btn-info" do %><i class="icon-list-alt"></i> Go to list
                  <% end %>
                <% end %>

<!-- Only the owner of the report or an administrator can see the delete button -->
                <% if (current_user.id == @problem.user_id || current_user.admin?) && @problem.status != 3 %>
                  <%= link_to @problems, method: :delete, data: { confirm: "Delete this report?" }, class: 'btn a-button btn-danger' do %>
                    <i class="icon-trash"></i> Delete
                  <% end %>
                <% end %>
              </h1>
          </div>



      </div>
    </div>
  </div>
</div>

    <div class="row-fluid fluid-box">
      <div class="span12">
        <!--  Description Box     -->
        <div class="box span4 ">
          <div class="box-header">
            <h2><i class="fa-icon-list"></i><span class="break"></span>Description</h2>
          </div>
          <div class="box-content">
            <p>
              <%= @problem.description %>
            </p>
          </div>
        </div>

        <!--  Details Box     -->
        <div class="box span4 ">
          <div class="box-header">
            <h2><i class="fa-icon-list"></i><span class="break"></span>Details</h2>

          </div>

          <div class="box-content">
            <div class="row-fluid">
              <div class="box span6">
                <h3>Reporter:</h3>
                <p><%= @problem.get_owner_name%></p>
                <h3>Type:</h3>
                <p><%= @problem.get_prob_type %></p>
<!-- Only show these fields if contained in a list -->
                <% if @cont_list %>
                  <h3>Assigned to:</h3>
                  <p><%= @cont_list.get_owner_name %></p>
                  <h3>List:</h3>
                  <p><%= @cont_list.name%>
                <% end %>
                <h3>Status:</h3>
                <p><%= @problem.get_prob_status %></p>
<!-- Only show this field if report has been resolved -->
                <% if @problem.resolved_id != nil %>
                  <h3>Resolved by:</h3>
                  <p><%= User.find(@problem.resolved_id).name %> <%= User.find(@problem.resolved_id).last_name %></p>
                <% end %>
                </div>

                <div class="box span6">
                  <h3>Priority:</h3>
                  <p><%= @problem.get_prob_priority %></p>
                  <h3>Submitted on:</h3>
                  <p><%= @problem.created_at.strftime("%b.%d %Y  @ %T") %></p>
<!-- Only show this field if report has been assigned at some time -->
                  <% if @problem.assigned_at != nil %>
                    <h3>Assigned on:</h3>
                    <p><%= @problem.assigned_at.strftime("%b.%d %Y @ %T") %></p>
                  <% end %>
                  <h3>Updated on:</h3>
                  <p><%= @problem.updated_at.strftime(" %b.%d %Y @ %T") %></p>
<!-- Show resolved information even if the report has been marked again as unresolved to save the previous state of the report with time evidence and person responsible -->
                  <% if @problem.resolved_at != nil %>
                    <h3>Resolved on:</h3>
                    <p><%= @problem.resolved_at.strftime(" %b.%d %Y @ %T") %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

<!-- This is the comment box, here we make sure that the current user's comments are displayed on onw side  while all other comments appear on the opposite side, for organization    -->

    <div class="box span4 ">
      <div class="box-header">
        <h2><i class="icon-comment"></i><span class="break"></span>Comments</h2>
      </div>
      <div class="box-content">
        <!--Preparing comments for dispaly-->
        <% @comments = @problem.comment_threads %>
        <!--This could be made a _comment partial to render-->
        <ul class="chat">
          <% @comments.each do |comment| %>
          <% @user = User.find(comment.user_id) %>

          <!-- Aling all of current user's comments to the right for organization -->
          <% if current_user!= @user %>
          <li class="left">
           <img class="avatar" alt=<%= @user.name %> src=<%= @user.avatar.url(:medium) %>>
           <span class="message">
             <span class="arrow"></span>
             <span class="from"><%= @user.name + " " + @user.last_name %></span>
             <span class="time"><%= comment.created_at.strftime(" %b.%d %Y at %T") %> </span>
             <span class="text">
               <%= comment.body %>
             </span>
           </span>  
         </li>
         <% else %>
         <li class="right">
           <img class="avatar" src=<%= current_user.avatar.url(:medium) %>>
           <span class="message">
             <span class="arrow"></span>
             <span class="from"><%= current_user.name + " " + current_user.last_name %></span>
             <span class="time"><%= comment.created_at.strftime(" %b.%d %Y at %T") %> </span>
             <span class="text">
               <%= comment.body %>
             </span>
           </span>  
         </li>
         <% end %>
         <% end %>
       </ul>   
     </ul> 
     <div class="chat-form">
       <%= form_tag "/problems/add_new_comment" do %>
       <%= hidden_field_tag "id", @problem.id %>
       <%= text_area :comment, :body, :size => "10x10" %>
       <%= submit_tag "Post Comment" %>
       <% end %>
     </div> 
   </div>    
 </div>
</div>
</div>
<!-- Modal window to edit report details...............................................................-->

<%= form_for @problem, :html => {:class => "form-horizontal"} do |f| %>

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"></button>
    <h3>Edit Report</h3>
  </div>

  <div class="modal-body">

    <div class="control-group">
      <label class="control-label" for="focusedInput">Title</label>
      <div class="controls">
        <div class="input-xlarge focused" id="focusedInput" type="text">
          <%= f.text_field :title, :placeholder => "Please provide a title..." %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="textarea2">Description</label>
      <div class="controls">
        <div class="input-xlarge focused" id="focusedInput" type="text">
          <%= f.text_area :description, :placeholder => "Provide a short description of the situation and/or location...", size: "10x6" %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="focusedInput">Type</label>
      <div class="controls">
        <div class="input-xlarge focused" id="focusedInput" type="text">
          <%= f.select :ptype, [["Pothole", 1], ["Water pipe", 2], ["Electric cable", 3], 
          ["Light post", 4], ["Debris on road", 5], ["Vandalism", 6], ["Manhole cover", 7], ["Other", 8]] %>        
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="focusedInput">Priority</label>
      <div class="controls">
        <div class="input-xlarge focused" id="focusedInput" type="text">
          <%= f.select :priority, [["Low", 1], ["Medium", 2], ["High", 3]] %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer"> 
    <a class="form-action btn" data-dismiss="modal">Close</a>
    <a class="form-action"> <%= f.submit "Update", class: "btn btn-success" %> </a>
  </div>
</div>
<% end %>


<!-- Here we prepare the modal window displaying all of the user's created lists to which
he/she can add reports -->

<div class="modal hide fade" id="myModalList">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"></button>
    <h3>Choose a list</h3>
  </div>
  <div class="modal-body">
    <table class="table table-condensed datatable">
      <thead>
        <tr>
          <th>List #</th>
          <th>Name</th>
          <th>Date Created</th>
          <th>Actions</th>
        </tr>
      </thead>     
      <tbody>
        <% current_user.lists.order("created_at desc").each do |list| %>
          <% if list.active %>
            <tr>
              <td><%= list.id %></td>
              <td><%= list.name %></td>
              <td><%= list.created_at.strftime(" %b.%d %Y %T") %></td>
              <!--Action buttons for last column of list index table, Delete and More Info -->
              <td class="center">
                <%= link_to add_problem_list_path(list: list, id: list.id, problem_id: @problem.id), class: 'btn btn-mini btn-success', method: :put do %>
                <i>Add to list</i> 
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table> 
  </div>
</div>
<hr>

<script type="text/javascript">
  
  function message_infowindow(){
    var unique_id = $.gritter.add({
      // (string | mandatory) the heading of the notification
      title: 'Click on the map marker for location details...',
      // (string | mandatory) the text inside the notification
      text: ' ',
      // (string | optional) the image to display on the left
      image: '',
      // (bool | optional) if you want it to fade out on its own or just sit there
      sticky: false,
      // (int | optional) the time you want it to be alive for before fading out
      time: '5000',
      // (string | optional) the class name you want to apply to that specific message
      class_name: 'my-sticky-class'
    });
  }
  
  
  $(document).ready(function(){
    
    setTimeout("message_infowindow()",5000);
    
  });     
  </script>

</body>
</html>

