<% provide(:title, "Details") %>
<div class="row">
  <aside class="span4">
    <section>

      <%= gmaps({
        "map_options" => {"auto_zoom" => false, "zoom" => 15 },
        "markers" => {"data" => @json }
        })
      %>      

      <h1>
      	<%= image_tag @problem.avatar.url(:medium) %>
      </h1>
      <ul>
     	<li>Report #<%= @problem.id %></li>
     	<li>Type: <%= @problem.ptype %></li>
     	<li>User: <%= User.find(@problem.user_id).name %></li>
     	<li>Latitud: <%= @problem.latitude %></li>
     	<li>Longitud: <%= @problem.longitude %></li>
     	<li>Date Created: <%= @problem.created_at %></li>
      <li>Description: <%= @problem.description %></li>


      </ul>     
    </section>
  </aside>
</div>
