<% provide(:title, "Detalles") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      	<%= image_tag @problem.avatar.url(:medium) %>
      </h1>
      <ul>
     	<li>Problema #<%= @problem.id %></li>
     	<li>Tipo: <%= @problem.ptype %></li>
     	<li>Reportero: <%= @problem.user %></li>
     	<li>Latitud: <%= @problem.lat %></li>
     	<li>Longitud: <%= @problem.lng %></li>
     	<li>Fecha: <%= @problem.created_at %></li>
      </ul>
     
    </section>
  </aside>
</div>