<fieldset>
	<%= render 'shared/error_messages' %>

	<div class="control-group">
		<label class="control-label" for="focusedInput">First Name</label>
			<div class="controls">
				<div class="input-xlarge focused" id="focusedInput" type="text">
					<%= f.text_field :name %>
				</div>
			</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="focusedInput">Last Name</label>
			<div class="controls">
				<div class="input-xlarge focused" id="focusedInput" type="text">
					<%= f.text_field :last_name %>
				</div>
			</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="focusedInput">Email</label>
			<div class="controls">
				<div class="input-xlarge focused" id="focusedInput" type="text">
					<%= f.text_field :email %>
				</div>
			</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="focusedInput">Telephone</label>
			<div class="controls">
				<div class="input-xlarge focused" id="focusedInput" type="text">
					<%= f.text_field :telnum %>
				</div>
			</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="focusedInput">Municipality</label>
			<div class="controls">
				<div class="input-xlarge focused" id="focusedInput" type="text">
					<%= f.text_field :municipality %>
				</div>
			</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="focusedInput">Password</label>
			<div class="controls">
				<div class="input-xlarge focused" id="focusedInput" type="text">
					<%= f.password_field :password %>
				</div>
			</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="focusedInput">Confirm Password</label>
			<div class="controls">
				<div class="input-xlarge focused" id="focusedInput" type="text">
					<%= f.password_field :password_confirmation %>
				</div>
			</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="focusedInput">Upload Avatar</label>
			<div class="controls">
				<div class="input-xlarge focused" id="focusedInput" type="text">
					<%= f.file_field :avatar %>
				</div>
			</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="focusedInput">Administrator?</label>
			<div class="controls">
				<div class="input-xlarge focused" id="focusedInput" type="text">
					<%= f.check_box(:admin) %>
				</div>
			</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="focusedInput">Sub-Administrator?</label>
			<div class="controls">
				<div class="input-xlarge focused" id="focusedInput" type="text">
					<%= f.check_box(:sub_admin) %>
				</div>
			</div>
	</div>

	<div class="form-actions">
		<%= f.submit "Create", class: "btn btn-large btn-success" %>
	</div>

</fieldset>
