<% provide(:title, @user.name) %>

<%= render 'layouts/sidebar' %>

<div class="row-fluid fluid-box">
  <div class="span12">
    <div class="box span3">
      <div class="box-content well">
        <%= image_tag @user.avatar.url(:medium) %>
      </div>
    </div><!--/span-->

    <div class="box span4 ">
      <h1 class="h1-profile"><%= @user.name %></h1>
      <h1 class="h1-profile"><%= @user.last_name %></h1>

      <h2 class="h2-profile"><i class="icon-barcode"></i>    <%= @user.id %></h2>
      <h2 class="h2-profile">
        <i class="icon-user"></i>      
        <% if @user.admin? %>
        Administrator
        <% else %>
        Reporter
        <% end %>
      </h2>
      <h2 class="h2-profile"><i class="icon-map-marker"></i>    <%= @user.municipality %>, PR</h2>
      <h2 class="h2-profile"><i class="fa-icon-phone"></i>    <%= @user.telnum %></h2>
      <h2 class="h2-profile"><i class="icon-envelope"></i>    <%= @user.email %></h2> 
    </div><!--/span-->

    <div class="box span5 box_circle_stat">
      <div class="box span4 circle-box">
        <div class="span2" onTablet="span4" onDesktop="span2">
          <div class="circleStatsItem green">
            <i class="fa-icon-check"></i>
            <span class="percent">%</span>
<!-- The "if" blocks are needed to avoid Zero Division -->
            <% @all_resolved = Problem.where(status: 3).count %>
            <% @my_resolved = @user.resolved_reports.count %>
              <% if @all_resolved != 0 %>
                <% @resolved = (@my_resolved*100)/@all_resolved %>
              <% else %>
                <% @resolved = 0 %>
              <% end %>
            <input type="text" value=<%= "#{@resolved}" %> class="greenCircle" />
          </div>
          <div class="box-small-title">Reports Resolved</div>
        </div>
      </div>
      <div class="box span4 circle-box">
        <div class="span2" onTablet="span4" onDesktop="span2">
          <div class="circleStatsItem yellow">
            <i class="fa-icon-warning-sign"></i>
            <span class="percent">%</span>
            <% @all_assigned = Problem.where(status: 2).count %>
            <% @my_assigned = @user.assigned_reports.count*100 %>
            <% if @all_assigned != 0 %>
              <% @assigned = @my_assigned/@all_assigned %>
            <% else %>
              <% @assigned = 0 %>
            <% end %>
            <input type="text" value= <%="#{@assigned}" %> class="yellowCircle" />
          </div>
          <div class="box-small-title">Reports Assigned</div>
        </div>
      </div>
      <div class="box span4 circle-box">                  
        <div class="span2" onTablet="span4" onDesktop="span2">
          <div class="circleStatsItem red">
            <i class="fa-icon-eye-open"></i>
            <span class="percent">%</span>
            <% @all_submitted = Problem.all.count %>
            <% @my_problems = @user.problems.count*100 %>
            <% if @all_submitted != 0 %>
              <% @submitted = @my_problems/@all_submitted %>
            <% else %>
              <% @submitted = 0 %>
            <% end %>
            <input type="text" value= <%= "#{@submitted}" %> class="orangeCircle" />
          </div>
          <div class="box-small-title">Reports Submitted</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row-fluid fluid-box">
  <div class="span12">

    <div class="box span4">
      <div class="box-header">
        <h2><i class="icon-list"></i><span class="break"></span>Most Recent Reports</h2>
      </div>
      <div class="box-content">
        <ul class="tickets">
          <li class="ticket">
            <% @user.problems.order("created_at desc").limit(5).each do |problem| %>
            <!-- Only show active reports, no Resolved reports -->
            <span class="header"> 
              <span class="title"><%= link_to problem.title, problem %></span>
              <span class="number"><%= link_to problem.get_prob_type, problem%> <%= link_to "[#"+problem.id.to_s+"]", problem%></span>
            </span>
            <span class="content">
              <span class="avatar">  <img src=<%=problem.avatar.url(:thumb) %>> </span>
              <span class="name"><strong>Submitted By: </strong><%= @user.name %> 
                <%= @user.last_name %></span>
                <span class="date"><u><%= problem.created_at.strftime(" %b.%d %Y") %></u></span>
                <!-- Implement priority partial for viewing -->
                <% if problem.status == 1 %>
                  <span class="status"><span class="label label-important"><%= problem.get_prob_status %></span>
                  </span>   
                <% elsif problem.status == 2 %>
                  <span class="status"><span class="label label-warning"><%= problem.get_prob_status %></span>
                  <%= " "+  problem.get_containing_list.get_owner_name %></span>
                <% elsif problem.status == 3 %>
                  <span class="status"><span class="label label-success"><%= problem.get_prob_status %></span> 
<!-- We need to double check that if the report is resolved it it contained in a list which is no necessarily so, if a report is resolved and the list is deleted afterwards. The report will still appear as resolved -->
                  <% if problem.is_in_list? %>
                    <%= " "+  problem.get_containing_list.get_owner_name %>
                  <% else %>
                    <%= " Unlisted" %>
                  <% end %>
                  </span>
                <% end %>
              <span class="priority "><strong>Priority: </strong>[ <%=problem.get_prob_priority %> ]</span> 
            </span>                                                         
            <% end %>
          </li>
        </ul>
      </div>
    </div><!--/span-->

    <div class="box span3" >
      <div class="box-header">
        <h2><i class="icon-list"></i><span class="break"></span>Reports Summary</h2>
      </div>
      <div class="box-content">
        <ul class="dashboard-list">
          <li>
            <a href="#">
              <i class="fa-icon-check green"></i>                               
              <span class="green"><%= @user.resolved_reports.count %>/<%= Problem.where(status: 3).count %> </span>
              Reports Resolved                                   
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-icon-warning-sign yellow"></i>
              <span class="yellow"><%= @user.assigned_reports.count %>/<%= Problem.where(status: 2).count%> </span>
              Reports Assigned
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-icon-eye-open red"></i>
              <span class="red"><%= @user.problems.count %>/<%= Problem.all.count%></span>
              Reports Submitted                                    
            </a>
          </li>                                  
        </ul>
      </div>
    </div><!--/span-->

    <div class="box span4">
      <div class="box-header">
        <h2><i class="icon-list"></i><span class="break"></span>Most Recent Lists</h2>
      </div>
      <div class="box-content">
        <ul class="tickets">
          <li class="ticket">
            <% @user.lists.order("created_at desc").limit(5).each do |list| %>
            <!-- Only show active reports, no Resolved reports -->
            <span class="header"> 
              <span class="title"><%= link_to list.name, list %></span>
              <span class="number"> <%= link_to "[#"+list.id.to_s+"]", list%></span>
            </span>
            <span class="content">
              <span class="avatar"> </span>
              <span class="name"><strong>Created By: </strong><%= list.get_owner_name %></span>
                <span class="date"><u><%= list.created_at.strftime(" %b.%d %Y") %></u></span>
                <!-- Implement priority partial for viewing -->
                <% if list.active %>
                  <span class="status"><span class="label label-success">Active</span>
                  </span>   
                <% else %>
                  <span class="status"><span class="label label-default">Closed</span>
                  </span>                                                         
                <% end %>
              <span class="priority"><strong>Reports: </strong><%=list.problems.count %></span> 
            <% end %>
          </li>
        </ul>
      </div>
    </div><!--/span-->
  </div>
</div>\
<hr>