<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "gmaps4rails" %>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag "application" %>

    <!--[if lt IE 7 ]>
    <link id="ie-style" href="css/style-ie.css.scss" rel="stylesheet">
    <![endif]-->
    <!--[if IE 8 ]>
    <link id="ie-style" href="css/style-ie.css.scss" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9 ]>
    <![endif]-->
    
    <%= render 'layouts/shim' %>  
  </head>
  <body>
    <%= render 'layouts/header' %>
   <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %>
      
    </div>
  </body>
</html>
